body {
  /*background-image: url("https://i.ytimg.com/vi/8myYyMg1fFE/maxresdefault.jpg");*/
  background-size: cover;
  font-family: 'Press Start 2P', cursive;

  background-color: black;
}

canvas {
  /*visibility: hidden;*/
}

main {
}

.whole-game {
  width: 600px;
  height: 600px;
  position: relative;
  margin: 140px auto 0;
  /*box-sizing: border-box;*/
}

#game {
  visibility: hidden;
  background: rgba(0, 0, 0, 0);
  border: 1px dashed;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#background-img {
  width: 600px;
  height: 600px;
  top: 0;
  left: 0;
  z-index: -10;
  background-size: cover;
}

img {
  width: 600px;
  height: 600px;
}

.frogger {
  display: block;
  margin: auto;
  width: 200px;
  height: 180px;
}

.domtest {
  font-size: 20px;
  color: white;
}

.info {
  font-size: 35px;
  color: gray;
  margin-top: 50px;
  filter: drop-shadow(3px 5px 0px #27d50b);
}

.start-btn {
  font-size: 50px;
  color: gray;
  filter: drop-shadow(5px 8px 0px #27d50b);
  position: relative;
  bottom: 70px;
}

.game-score {
  font-size: 32px;
  color: gray;
  filter: drop-shadow(3px 4px 0px #27d50b);
}

.lost-game {
  position: relative;
  top: 600px;
}


.game-info {
}

.game-btn {
  visibility: visible;
  text-align: center;
  position: relative;
  bottom: 450px;
}

.game-over {
  visibility: hidden;
  text-align: center;
  position: relative;
  bottom: 366px;
}












