body {
  background-color: black;
  background-image: url("https://bit.ly/2PuSxIi");
  background-size: fill;
  font-family: 'Press Start 2P', cursive;
}

header {
  margin-bottom: 10px;
}

.whole-game {
  height: 600px;
  margin: auto;
  position: relative;
  width: 600px;
}

#game {
  background: rgba(0, 0, 0, 0);
  border: 1px dashed;
  display: block;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
}

#background-img {
  background-size: cover;
  height: 600px;
  left: 0;
  top: 0;
  width: 600px;
  z-index: -10;
}

img {
  height: 600px;
  width: 600px;
}

.frogger {
  display: block;
  height: 180px;
  margin: auto;
  width: 200px;
}

.domtest {
  color: white;
  font-size: 20px;
}

.info {
  color: rgb(235  234 71);
  filter: drop-shadow(3px 5px 0px forestgreen);
  font-size: 35px;
  margin-top: 0px;
}

.start-btn {
  bottom: 70px;
  color: rgb(235  234 71);
  filter: drop-shadow(5px 8px 0px forestgreen);
  font-size: 50px;
  position: relative;
}

.start-btn:hover {
  cursor: pointer;
}

.game-score {
  color: gray;
  filter: drop-shadow(3px 4px 0px #27d50b);
  font-size: 32px;
}

.lost-game {
  position: absolute;
  top: 600px;
}


.game-info {
  margin-bottom: 80px;
}

.number {
  float: right;
}

.game-btn {
  bottom: 450px;
  position: relative;
  text-align: center;
  visibility: visible;
}

.game-over {
  bottom: 366px;
  position: relative;
  text-align: center;
  visibility: hidden;
}